.modal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: #1a1b23;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 600px;
}

.modal .close-button {
    display: flex;
    justify-content: flex-end;
}

.modal .close-button button {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0;
}

.modal h2 {
    margin: 0;
}

.modal form {
    margin: 20px 0;
}

.modal .buttons-wrapper {
    display: flex;
    justify-content: flex-end;
}

.modal .buttons-wrapper button {
    margin-left: 10px;
}

.modal input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

.modal input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #7a3ecc;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

.modal .title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.modal .subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}