.stocks {
    padding: 10px 30px 30px;
}

.stocks .balance {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.stocks .balance .card {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 20px 15px;
    background-color: #424141;
}

.stocks .balance .card:nth-child(1) {
    margin-left: 0;
}

.stocks .balance .card:nth-child(3) {
    margin-right: 0;
}

.stocks .balance .card p {
    margin: 0;
}

.stocks .balance .card p:nth-child(2){
    font-size: 25px;
    color: #7a3ecc;
}

.stocks .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.stocks .actions button {
    display: flex;
    align-items: center;
    background-color: #7a3ecc;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.stocks .actions button:hover {
    background-color: #8b5fc9;
}

.stocks .actions button .icon {
    margin-right: 10px;
    font-size: 1.2rem;
}

.stocks input[type=file] {
    display: none;
}

.stocks .balance .card p:nth-child(2).profit {
    color: #85d683;
}

.stocks .balance .card p:nth-child(2).loss {
    color: #ff808a;
}

.stocks .Table td.profit {
    background-color:#85d683;
}

.stocks .Table td.loss {
    background-color: #ff808a;
}