.stocks {
    padding: 10px 30px 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.stocks .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
}

@media screen and (max-width: 778px) {
    .stocks .balance {
        flex-direction: column;
    }

    .stocks .balance .card {
        margin-left: 0;
        margin-right: 0;
    }
}

.stocks .actions button {
    margin-left: 10px;
}

.stocks input[type=file] {
    display: none;
}

.stocks .balance .card p:nth-child(2).profit {
    color: #85d683;
}

.stocks .balance .card p:nth-child(2).loss {
    color: #ff808a;
}

.stocks .Table td.profit {
    background-color:#85d683;
}

.stocks .Table td.loss {
    background-color: #ff808a;
}

.loading {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}