.home {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.home .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.home .card {
    width: 400px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #5a189a;
    color: #fff;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 30px;
}

.home .card:hover {
    background-color: #9d4edd;
}

.home .card .icon {
    width: 100px;
    height: 100px;
    margin: 10px;
}